body{
	font-family: Helvetica;
}

h1 {
	color:white;
}

.header h1 {
	font-size: 100px;
	color: khaki;
	text-align: center;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
	
}
.brush h1{
	background:mediumspringgreen;
}

.frames h1{
	background:lightcoral;
}

.paint h1{
	background:skyblue;
}

strong{
	color: blue;
}
